/* Desktop (large screens) */
@media (min-width: 1400px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1170px;
    }
}

/* Mobile (small screens) */
@media only screen and (min-width: 200px) and (max-width: 575px) {
    nav img {
        width: 100px;
    }

    .btn-grp {
        position: fixed;
        bottom: 0;
        left: 0;
        padding: 6px 0px;
        width: 100%;
        justify-content: center !important;
        background-color: #fffdfd;
    }

    .wpbtn,
    .callbtn {
        padding: 10px 18px;
        font-size: 12px;
    }

    .banner-content h1 {
        font-size: 35px;
        text-align: center;
    }

    .banner-content h1 br {
        display: none;
    }

    .banner-content p,
    .banner-content ul li,
    .banner-content ul li i {
        font-size: 14px;
    }

    .banner-content-btn button {
        width: 100%;
    }

    .counter-section h4 {
        font-weight: 800;
        color: #36a6d6;
        font-size: 25px;
    }

    .counter-section p {
        font-size: 12px;
        font-weight: 400;
    }

    .highlights-section h2 {
        font-size: 28px;
    }

    .heading-context{
        text-align: center;
    }
}



/* Tablet (Small Screens) */
@media only screen and (min-width: 576px) and (max-width: 991px) {
    nav {
        position: relative;
        width: 100%;
        padding: 10px 20px;
        white-space: nowrap;
    }

    nav img {
        width: auto;
        max-width: 150px;
        vertical-align: middle;
    }

    .btn-grp {
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        white-space: nowrap;
    }

    .wpbtn,
    .callbtn {
        display: inline-block;
        padding: 10px 18px;
        font-size: 14px;
    }

    .heading-context{
        text-align: center;
    }
}