*{
    font-family: "Inter", sans-serif;
}


/* Whatsapp Button */
.wpbtn{
    border: 1px solid #27AE60;
    padding: 10px 18px;
    color: #27AE60;
    font-size: 16px;
}

.wpbtn i {
    color: #27AE60;
}

.wpbtn:hover{
    border: 1px solid #27AE60;
}


/* Call Us Button */
.callbtn{
    padding: 10px 18px;
    color: white;
    background:linear-gradient(to right, #0ACEFE, #2699FB) ;
}